<%- include('partials/header') %>
<div class="row">
    <div class="col-12 col-md-10 offset-md-1 col-lg-8 col-lg-2">
        <div class="card shadow">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-4 p-3 text-center align-middle">
                        <h1 class="brand">X<span class="text-danger">js</span></h1>
                    </div>
                    <div class="col-12 col-md-8 p-3">
                        <h4>Dashboard</h4>
                        <hr class="m-0 border-danger">

                        <%- include('partials/alerts') %>

                        <pre class="mt-4 mb-5"><%= JSON.stringify(user, null, 2) %></pre>

                        <div class="text-center mt-5">
                            <a href="<%= route('auth.logout') %>" class="btn btn-block btn-danger">
                                Logout (<%= user.name %>)
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('partials/footer') %>
