<%- include('partials/header') %>
<div class="row">
    <div class="col-12 col-lg-8 offset-lg-2">
        <div class="card shadow">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-5 p-3 text-center align-middle">
                        <h1 class="brand">X<span class="text-danger">js</span></h1>
                    </div>
                    <div class="col-12 col-md-6 p-3">
                        <h5 class="text-muted text-uppercase"><%= action %></h5>
                        <hr class="mt-1 border-danger">

                        <%- include('partials/alerts') %>

                        <% if(action === 'login'){ %>
                            <%- include('inc/login') %>
                        <% }else{ %>
                            <%- include('inc/register') %>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('partials/footer') %>