<%
if (typeof error === "undefined") error = {};
const isProduction = ctx.config('env') === "production";
%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= ctx.config('name') %></title>
    <%- include('./bootstrap') %>
</head>
<% if( isProduction ) { %>
<body style="background-color: #ddd">
<section class="app" style="margin-top: 40vh">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center"><%= statusCode %> <span class="text-muted"><%= statusCodes[statusCode] || "Oops!" %></span>
                </h1>
            </div>
        </div>
    </div>
</section>
</body>
<% } else { %>
    <body style="background-color: #d9ac73">
    <section class="app" style="margin-top: 10vh">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card bg-dark shadow">
                        <div class="card-body">
                            <h3 class="text-muted"><%- error.title || 'Oops!' %></h3>
                            <hr class="mt-0">
                            <% if(error.html) { %>
                                <div style="color: antiquewhite; font-size: large" class="mb-3">
                                    <%- error.html %>
                                </div>
                                <hr class="mt-0">
                            <% } %>
                            <div class="mt-3 text-danger">
                                <code style="font-size: large">
                                    <%- error.log %>
                                </code>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </body>
<% } %>
</html>
