<% if(__flash.logout){ %>
    <div class="alert alert-success" role="alert">
        <%= __flash.logout %>
    </div>
<% } %>
<% if(__flash.login){ %>
    <div class="alert alert-success mt-2" role="alert">
        <%= __flash.login %>
    </div>
<% } %>
<% if(__flash.login_error){ %>
    <div class="alert alert-danger" role="alert">
        <%= __flash.login_error %>
    </div>
<% } %>
<% if(__flash.reg_success){ %>
    <div class="alert alert-success" role="alert">
        <%= __flash.reg_success %>
    </div>
<% } %>
<% if(__flash.reg_error){ %>
    <div class="alert alert-danger" role="alert">
        <%= __flash.reg_error %>
    </div>
<% } %>
